*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav , .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
nav{
    background: white no-repeat;
    background-image: linear-gradient(to bottom, #051322, #15457c);
    /* background-size: 100% 280px; */
    /* color: #464646; */
    
}

.availability{
    background: white no-repeat;
    background-image: linear-gradient(to bottom, #051322, #15457c);
}
ul.links>*{
    margin: 10px;
}
@media screen and (max-width:300px) {
    ul.links>*{
        margin: 0px;
    }
}
li{
    list-style: none;
}
.link{
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-weight: 540;
}
button.link{
    padding: 10px 15px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.link:hover{
    background-color: rgb(173, 176, 178);
}
nav{
    padding: 20px;
    border-bottom: 1px solid black;
    
}

label>*{
    margin-top:12px ;
}
.searchInputs{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    /* background-color: aqua; */
    border-bottom: 1px solid black;
}
.searchInputs .dropDown{
    margin:10px 0px 0px 100px;
}
/* display:'flex',flexDirection:'row',alignItems:'center',justifyContent:'space-around',flexFlow:'wrap' */

.searchInputs>.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;

}
.searchInputs>.inputContainer label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
@media screen and (max-width:360px) {
    .searchInputs .dropDown{
         margin:10px 0px 0px 40px;
    }

}


h2{
    margin-left: 20px;
}
.search input{
    height: 25px;
    padding: 5px;
}
.search button{
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 100px;
    border: 1px solid black;
    margin-bottom: -20px;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    
}

/* input[type="number"]{
    width: 50px;
} */

.checkout {
    margin: 50px 100px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* background-color: rgb(234, 241, 241); */
    height: 45vh;
}
.checkout .summary{
    height: 100%;
    width: 40%;
    /* background-color: antiquewhite; */
    /* color: antiquewhite; */
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* align-items: center; */
    /* margin-bottom: 50px; */
    padding: 50px 0px;
    /* row-gap: 20px; */
}
.summary >*{
    margin: 15px;
}
.paymentMethod{
    height: 100%;
    /* min-width: 260px; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.paymentMethod form{
    padding: 10px 0px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    /* height: 30vh; */
    /* background-color: rgb(37, 49, 49); */
}
.paymentMethod form >*{
    /* margin-left: 20px; */
    margin: 5px 0px 5px 0px;
}
.paymentMethod form > input{
    height: 33px;
    width: 100%;
    padding: 2px 5px;
    
}

.paymentMethod form button{
    cursor: pointer;
    width: 80px;
    padding: 10px 15px;
}
.summary .summaryContent{
    /* width: 100%; */
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size:1rem;
    font-weight:500;
    border-bottom:1px solid black;
    padding: 10px;
}
.summary .summaryContent > *{
    margin:5px;
    /* background-color: aquamarine; */
    /* border: 1px solid black; */
}






@media screen and (max-width:540px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
    .searchInputs>.inputContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around; */
        /* flex-flow: wrap; */
    
    }
    .searchInputs>.inputContainer label{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px;
        font-size: 16px;
        
        /* justify-content: flex-start; */
    }
    .searchInputs>.inputContainer label>*{
        margin: 0px;
    }
    ul.links{
        margin: 0px;
    }
    .searchInputs>.inputContainer label input{
        margin-left: 10px;
    }

    
}













@media screen and (max-width:840px) {
    .checkout{
        /* margin: 10px; */
        flex-direction: column;
    }
    .checkout .paymentMethod,.checkout .summary{
        margin-bottom: 50px;
        min-width: 355px;
        padding:0px;
    }
    
}
@media screen and (max-width:420px) {
    .search button{
        padding: 10px 40px;
    }
    .searchInputs{
        min-height: 40vh;
    }
}
@media screen and (max-width:360px) {
    .checkout{
        margin: 10px;
    }
    .checkout .paymentMethod,.checkout .summary{
        margin-bottom: 50px;
        min-width: 260px;
        height: 110%;
        /* padding:0px; */
    }
    
    
}


/* Loader for fetching data */
.loader {
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

